body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c527f;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #f2e9e4;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    background-color: #D0BDF4;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 50px;
    color: #5c527f;
  }
  
  p {
    font-size: 18px;
    margin: 0 0 30px;
    color: #5c527f;
  }
  
  button {
    padding: 10px 20px;
    background-color: #5c527f;
    color: #f2e9e4;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button.disabled {
    background-color: #777;
    color: rgba(242, 233, 228, 0.5);
    cursor: not-allowed;
  }
  
  .toggle-switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 24px;
  }
  
  .toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-switch label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .toggle-switch label:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}
  
  .toggle-switch input[type="checkbox"]:checked + label {
    background-color: #a5d6a7;
  }
  
  .toggle-switch input[type="checkbox"]:checked + label:after {
    background-color: #4caf50;
    transform: translateX(26px);
  }
  